@use '../variables.scss';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;

    &--primary{
        color: white;
        background-color: variables.$purple;
        text-decoration: none;
    }

    @media (max-width:1024px){
        display: flex;
        align-items: center;
    }
    @media (max-width:640px){
        display: block;
        width: 100%;
        text-align: center;
    }
}